.container {
  &__header {
    text-decoration: underline;
  }

  &__list {
    list-style: none;
    max-width: 20rem;
  }

  &__list_item {
    max-height: 1rem;
    overflow: hidden;
    margin: 0.5rem;
    padding-bottom: 0.3rem;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__list_item:hover {
    font-weight: bold;
    overflow: visible;
  }

  &__list_item a {
    color: red;
  }
}